<mat-toolbar color="primary" *ngIf="!!appService.user">
  <span>Hemo Hub</span>
  <span class="spacer"></span>

  <div class="header-name">
    <span>Welcome, {{ appService.user.email }}</span>
    <mat-chip highlighted color="accent" class="ml-8">{{
      appService.user.role
    }}</mat-chip>
  </div>

  <button mat-raised-button color="warn" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>

<mat-toolbar
  class="justify-content-center"
  color="primary"
  *ngIf="!appService.user"
>
  <span>Hemo Hub</span>
</mat-toolbar>
