<div class="app">
  <app-header></app-header>

  <mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav
      #sidenav
      [opened]="true"
      [mode]="'side'"
      *ngIf="isAuthenticated()"
    >
      <mat-nav-list>
        <mat-list-item
          routerLink="{{ item.path }}"
          *ngFor="let item of sidemenu"
        >
          <mat-icon matListItemIcon class="mat-icon-margin">
            {{ item.icon }}
          </mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
