<div class="app">
  <app-header></app-header>
  <mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav #sidenav [opened]="true" [mode]="'side'">
      <mat-nav-list>
        <a mat-list-item routerLink="/home">
          <!-- <label><mat-icon>home</mat-icon> Home</label> -->
          <!-- <button mat-button color="disabled"> -->
          <mat-icon>home</mat-icon>
          Home
          <!-- </button> -->
        </a>
        <a mat-list-item routerLink="/home"><mat-icon>home</mat-icon> Search</a>
        <a mat-list-item routerLink="/home"
          ><mat-icon>home</mat-icon> Exchange</a
        >
        <a mat-list-item routerLink="/home"
          ><mat-icon>home</mat-icon> Requests</a
        >
        <a mat-list-item routerLink="/home"
          ><mat-icon>home</mat-icon> Statistics</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
