<div id="exchange-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <mat-label>Created By</mat-label>
          <input
            matInput
            disabled
            name="createdBy"
            value="{{ appService.user?.name }}"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Donated By</mat-label>
          <input
            type="Donated By"
            placeholder="Search by name"
            matInput
            (input)="onInput($event)"
            [matAutocomplete]="auto"
            [value]="selectedOption.name"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option.id"
              (onSelectionChange)="onOptionSelected(option)"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Amount (mL)</mat-label>
          <input matInput name="amount" type="number" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select name="type">
            <mat-option value="Withdrawal">Withdrawal</mat-option>
            <mat-option value="Deposit">Deposit</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="button">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
