<div id="login">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            name="email"
            [(ngModel)]="email"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onLogin()"
        >
          Login
        </button>
      </form>
      <p class="registration-text">
        Don't have an account?
        <a class="mat-primary" href="/register">Register here</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div>
