<div class="center-container">
  <div class="home-section text-center">
    <h1>Welcome to Hemo Hub</h1>
    <h2>Connecting Lives, Saving Futures</h2>
    <p>
      HemoHub is more than just an online blood bank &ndash; it's a lifeline
      that connects donors, recipients, and medical professionals in a seamless
      journey of compassion. Our platform simplifies the process of donating and
      receiving blood, ensuring timely and vital support for those in need.
    </p>
    <p>
      With HemoHub, every drop of blood becomes a beacon of hope, empowering
      communities to come together and make a life-changing impact. Join us in
      our mission to save lives and build a healthier, stronger tomorrow.
    </p>
  </div>
</div>
