<div id="register">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Name" name="name" [(ngModel)]="name" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            name="email"
            [(ngModel)]="email"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Mobile"
            name="mobile"
            [(ngModel)]="mobile"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Blood Group</mat-label>
          <mat-select [(ngModel)]="selectedBloodGroup" name="bloodGroup">
            <mat-option
              value="{{ bloodGroup }}"
              *ngFor="let bloodGroup of bloodGroups"
              >{{ bloodGroup }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Street Address"
            name="streetAddress"
            [(ngModel)]="streetAddress"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" name="city" [(ngModel)]="city" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="State"
            name="state"
            [(ngModel)]="state"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Country"
            name="country"
            [(ngModel)]="country"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
          />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onRegister()"
        >
          Register
        </button>
      </form>
      <p class="registration-text">
        Already have an account?
        <a class="mat-primary" href="/login">Login here</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div>
