<div id="register">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Username" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Register
        </button>
      </form>
      <p class="registration-text">
        Already have an account?
        <a class="mat-primary" href="/login">Login here</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div>
